.animated-div {
  animation-name: slideIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  height: 5vh;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

